{% extends 'base.html.twig' %}

{% block title %}Whitefield Music Studio{% endblock %}

{% block body %}
<div class="home-container">
    <h1>Whitefield Music Studio</h1>

    <div>
        Professional Music Tuition.
    </div>
</div>
{% endblock %}