{% extends 'base.html.twig' %}

{% block title %}New Page{% endblock %}

{% block body %}
    {% include 'elements/header.html.twig' %}
    <div class="main-container">
        <div class="border-container">
            <div class=back-container>
                <div class="texto fade-in">
                    1
                </div>
            </div>
        </div>
        <div class="border-container">
            <div class=back-container>
                <div class="filler">
                </div>
            </div>
        </div>
        <div class="border-container">
            <div class=strip-container id="strip-container">
                <div class="strip-1">
                    <div class="box">
                        Consultation
                    </div>
                </div>
                <div class="strip-2">
                    <div class="box">
                        Lessons
                    </div>
                </div>
                <div class="strip-3">
                    <div class="box">
                        Practice
                    </div>
                </div>
            </div>
        </div>
        <div class="border-container">
            <div class=back-container>
                <div class="filler">
                </div>
            </div>
        </div>
        <div class="border-container">
            <div class=back-container>
                <div class="texto fade-in">
                    3
                </div>
            </div>
        </div>
    </div>

{% endblock %}
